*.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
*.swift_prop
*.load
*.swift_test
*.client_port_profile
*.network
*.dfs
*.user
*.json
*.txt
*.ddc
*.client_scenario
*.server_scenario
*.server_port_profile
*.tracing
*.test_rules
*.xml
*.lock
*.obj
*.ini
*.log
*.zip
*.csv
*.pcap
*.summary
*.alerts_summary
*.dbstatistics
*.dbstatistics-journal
*.bak